@tailwind base;
@tailwind components;

.triangle {
  right: 39px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  --border-opacity: 1;
  border-top: 5px solid #805ad5;
}

.circle {
  @apply rounded-full p-5 bg-gray-100;
  width: 5px;
  height: 5px;
}

@tailwind utilities;